*~
*.orig
*.pyc
*.swp
*.xcodeproj
*.o
*.a
a.out 
.gitusers
.DS_Store
cscope.files
cscope.out
autoconf/aclocal.m4
autoconf/autom4te.cache
.svn
build
xcode
compile_commands.json

# for cquery/ccls C++ language server caches
.ccls-cache
.cquery_cached_index
